*
!.home/
!.home/*
!.home/*/
!.home/*/*
!.home/*/*/*
!.home/*/*/*/*
!.home/*/*/*/*/*
!.home/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!.home/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!readme
!license
!.gitignore
*~
.DS_Store
.idea/
.vscode/
*.lock
target/
