*
!bin/
!bin/*
!acor/
!acor/cfg/
!acor/cfg/server_cfg.ini
!acor/cfg/entry_list.ini
!cs2/
!cs2/profile
!csgo/
!csgo/csgo/
!csgo/csgo/cfg/
!csgo/csgo/cfg/gamemode_casual_server.cfg
!csgo/csgo/cfg/mapcycle.txt
!csgo/csgo/cfg/server.cfg
!csgo/csgo/cfg/server-security.cfg
!csgo/profile
!cstrike/
!cstrike/cstrike/
!cstrike/cstrike/cfg/
!cstrike/cstrike/cfg/mapcycle.txt
!cstrike/cstrike/cfg/server.cfg
!cstrike/cstrike/cfg/server-security.cfg
!cstrike/profile
!garrysmod/
!garrysmod/garrysmod/
!garrysmod/garrysmod/cfg/
!garrysmod/garrysmod/cfg/mount.cfg
!garrysmod/garrysmod/cfg/mapcycle.txt
!garrysmod/garrysmod/cfg/server.cfg
!garrysmod/garrysmod/cfg/server-security.cfg
!garrysmod/profile
!insurgency/
!insurgency/insurgency/
!insurgency/insurgency/cfg
!insurgency/insurgency/cfg/mapcycle.txt
!insurgency/insurgency/cfg/server.cfg
!insurgency/insurgency/cfg/server-security.cfg
!insurgency/profile
!left4dead2/
!left4dead2/left4dead2/
!left4dead2/left4dead2/cfg/
!left4dead2/left4dead2/cfg/mapcycle.txt
!left4dead2/left4dead2/cfg/server.cfg
!left4dead2/left4dead2/cfg/server-security.cfg
!left4dead2/profile
!pavlov/
!pavlov/Pavlov/
!pavlov/Pavlov/Saved/
!pavlov/Pavlov/Saved/Config/
!pavlov/Pavlov/Saved/Config/LinuxServer/
!pavlov/Pavlov/Saved/Config/LinuxServer/Game.ini
!pavlov/profile
!rust/
!rust/profile
!rust/server/
!rust/server/tranquilo/
!rust/server/tranquilo/cfg/
!rust/server/tranquilo/cfg/server.cfg
!tf/
!tf/tf/
!tf/tf/cfg/
!tf/tf/cfg/mapcycle.txt
!tf/tf/cfg/server.cfg
!tf/tf/cfg/server-security.cfg
!tf/tf/maps/
!tf/tf/maps/maps
!tf/profile
!.gitignore
!LICENSE
!profile
!README.md
*.DS_Store
.idea
